<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HelloWorld</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<servlet>
 <servlet-name>HelloWorld</servlet-name>
 <servlet-class>servlets.HelloWorld</servlet-class>
</servlet>
<servlet-mapping>
 <servlet-name>HelloWorld</servlet-name>
 <url-pattern>/HelloWorld</url-pattern>
</servlet-mapping>

<servlet>
 <servlet-name>FileRead</servlet-name>
 <servlet-class>servlets.FileRead</servlet-class>
</servlet>
<servlet-mapping>
 <servlet-name>FileRead</servlet-name>
 <url-pattern>/FileRead</url-pattern>
</servlet-mapping>

<servlet>
 <servlet-name>FileWrite</servlet-name>
 <servlet-class>servlets.FileWrite</servlet-class>
</servlet>
<servlet-mapping>
 <servlet-name>FileWrite</servlet-name>
 <url-pattern>/FileWrite</url-pattern>
</servlet-mapping>

<servlet>
 <servlet-name>FileDownload</servlet-name>
 <servlet-class>servlets.FileDownload</servlet-class>
</servlet>
<servlet-mapping>
 <servlet-name>FileDownload</servlet-name>
 <url-pattern>/FileDownload</url-pattern>
</servlet-mapping>

<listener>
	<listener-class>servlets.MyServletContextListener</listener-class>
</listener>
 
</web-app>
